section {
	/* Source : https://www.svgbackgrounds.com */
	background-color: #fff;
	background-image: url('/assets/svg/presentation.svg');
	background-attachment: fixed;
	background-size: cover;
}

h1 {
	font-size: 72px;
}

.title {
	font-size: 36px;
}

@media (max-width: 767px) {
	h1 {
		font-size: 60px;
	}
}

@media (max-width: 991px) {
	#photo {
		max-width: 50%;
	}
}
