<section>
	<div class="container h-75">
		<div class="row justify-content-center align-items-center h-100">
			<div class="row main shadow">
				<div class="col-lg-8">
					<div class="d-none d-md-block">
						<p class="title">Bonjour, je m'appelle</p>
						<h1>Yannis Burkhalter</h1>
						<p class="title">Je suis <strong>développeur d'applications</strong></p>
						<div class="row">
							<div class="col-md-3 offset-md-3">
								<strong>J'aime :</strong>
								<ul>
									<li>L'informatique</li>
									<li>Les mangas</li>
								</ul>
							</div>
							<!--<div class="col-md-3">
								<strong>Je n'aime pas :</strong>
								<ul>
									<li>Les Mac</li>
									<li>Fortnite</li>
								</ul>
							</div>-->
						</div>
					</div>
					<div class="d-block d-md-none">
						<h1>Yannis Burkhalter</h1>
						<p class="title">développeur d'applications</p>
					</div>
				</div>
				<div class="col-lg-4 text-center text-lg-right">
					<img src="/assets/misc/yannis.jpg" alt="Ma photo" class="img-fluid rounded" id="photo" style="max-height: 320px" />
				</div>
			</div>
		</div>
	</div>
</section>