<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-3 offset-lg-3">
				Yannis Burkhalter<br>
				Rue des Jardins 3<br>
				1800 Vevey<br>
				<br>
			</div>
			<div class="col-md-6 col-lg-3">
				Tél. : 079 647 42 37<br>
				yannis.burkhalter@gmail.com<br>
				Mon <a target="_blank" href="https://www.linkedin.com/in/yannis-burkhalter">LinkedIn</a><br>
				Mon <a target="_blank" href="https://github.com/BurkhalterY">GitHub</a><br>
			</div>
		</div>
	</div>
</footer>