<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" id="navbar">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" href="#presentation">Présentation</a></li>
			<li class="nav-item"><a class="nav-link" href="#skills">Mes compétences</a></li>
			<li class="nav-item"><a class="nav-link" href="#career">Mon parcours</a></li>
			<li class="nav-item"><a class="nav-link" href="#projects">Quelques projets</a></li>
		</ul>
	</div>
	<span class="navbar-text">© Burkhalter Yannis</span>
</nav>