<section>
	<div class="container h-75">
		<div class="row justify-content-center align-items-center h-100">
			<h2 class="text-light">Mes compétences</h2>
			<div class="row main shadow">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-{{ category.Skills.length < 5 ? 6 : 12 }}" *ngFor="let category of categories">
							<h3>{{ category.Name }}</h3>
							<div class="row skills justify-content-center justify-content-md-start">
								<div *ngFor="let skill of category.Skills" class="text-center">
									<figure class="mx-1">
										<img src="/assets/skills/{{ skill.Icon }}" alt="{{ skill.Name }}" title="{{ skill.Name }}" class="img-fluid skill">
										<figcaption class="rating">
											<div *ngIf="skill.Note >= 0" title="{{ skill.Note }} ⭐">
												<div class="gray-stars">
													<img class="img-fluid" src="/assets/misc/stars.png" alt="{{ skill.Note }} stars" />
												</div>
												<div class="gold-stars">
													<div class="gold-stars-container" style="width: {{ skill.Note/.05 }}%;">
														<img src="/assets/misc/stars.png" alt="{{ skill.Note }} stars" />
													</div>
												</div>
											</div>
											<div *ngIf="skill.Level != ''">
												<span class="level">{{ skill.Level }}</span>
											</div>
										</figcaption>
									</figure>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>