<h1 class="text-xl font-bold">Réseaux sociaux</h1>
<hr>
<div class="row text-center">
	<div class="col-lg-2">
		<a href="https://discord.gg/z67yZjh" target="_blank">
			<img class="img-fluid p-4" src="assets/socials/discord.png" alt="Serveur Discord" title="Serveur Discord" />
		</a>
		<strong>Normalux</strong>
	</div>
	<div class="col-lg-2">
		<a href="https://github.com/BurkhalterY" target="_blank">
			<img class="img-fluid p-4" src="assets/socials/github.png" alt="GitHub" title="GitHub" />
		</a>
		<strong>BurkhalterY</strong>
	</div>
	<div class="col-lg-2">
		<a href="https://www.linkedin.com/in/yannis-burkhalter/" target="_blank">
			<img class="img-fluid p-4" src="assets/socials/linkedin.png" alt="LikedIn" title="LikedIn" />
		</a>
		<strong>Yannis Burkhalter</strong>
	</div>
	<div class="col-lg-2">
		<a href="https://www.youtube.com/channel/UCbv1uNvn53SHwSSY19luZvQ" target="_blank">
			<img class="img-fluid p-4" src="assets/socials/youtube.png" alt="YouTube" title="YouTube" />
		</a>
		<strong>aestetica</strong>
	</div>
	<div class="col-lg-2">
		<a href="https://www.instagram.com/yannis_burkhalter/" target="_blank">
			<img class="img-fluid p-4" src="assets/socials/instagram.png" alt="Instagram" title="Instagram" />
		</a>
		<strong>yannis_burkhalter</strong>
	</div>
</div>
