<div class="content" data-spy="scroll" data-target="#navbar" data-offset="60">
	<app-menu></app-menu>
	<app-section-presentation id="presentation"></app-section-presentation>
	<div class="separator"></div>
	<app-section-skills id="skills"></app-section-skills>
	<div class="separator"></div>
	<app-section-career id="career"></app-section-career>
	<div class="separator"></div>
	<app-section-projects id="projects"></app-section-projects>
	<div class="separator"></div>
	<app-footer></app-footer>
</div>