<section>
	<div class="container h-75">
		<h2>Mon parcours</h2>
		<div class="row justify-content-center align-items-center h-100">
			<div class="row main shadow">
				<div class="col-lg-12">
					<h3>Formation</h3>
					<ul class="timeline">
						<li>
							<span>Apprentissage Informaticien, EPSIC Lausanne</span>
							<span class="float-right">2018 - 2022</span>
							<p>Informaticien CFC, orienté développement d'applications, 4 ans. (<a target="_blank" href="assets/documents/Notes/bulletin-epsic.pdf">Bulletin de notes</a>, moyenne générale : 5.5)</p>
						</li>
						<li>
							<span>Scolarité obligatoire, Vevey</span>
							<span class="float-right">2006 - 2017</span>
							<p>Collège du Clos, collège de la Veveyse, collège Bleu, collège Kratzer.</p>
						</li>
					</ul>
					<h3>Emplois</h3>
					<ul class="timeline">
						<li>
							<span>Open Net, Lausanne</span>
							<span class="float-right">2021 - Maintenant</span>
							<p>Reprise du contrat d'apprentissage pour la dernière année par Open Net.</p>
						</li>
						<li>
							<span>Orif, Pomy, Aigle</span>
							<span class="float-right">2017 - 2021</span>
							<p>Préformation d'un an, puis apprentissage jusqu'en 3<sup>ème</sup> année avant la reprise par Open Net. <img src="assets/misc/info.png" alt="Attestation sur demande" title="Attestation sur demande" /></p>
						</li>
					</ul>
					<h3>Stages</h3>
					<ul class="timeline">
						<li>
							<span>Quicksite, Vevey</span>
							<span class="float-right">2020 - 2021</span>
							<p>Stage de 9 mois chez Quicksite, agence web, chez qui j'ai développé une interface de traduction pour Laravel.</p>
						</li>
						<li>
							<span>Orif SIT, Préverenges</span>
							<span class="float-right">2020</span>
							<p>Stage de 2 mois au SIT de l'Orif où j'étais chargé de développer un logiciel interne.</p>
						</li>
						<li>
							<span>Creatis Informatique, Préverenges</span>
							<span class="float-right">2019</span>
							<p>Stage de 5 mois durant lequel j'ai participé au développement d'applications Android avec Java ou Kotlin. <img src="assets/misc/info.png" alt="Attestation de stage sur demande" title="Attestation de stage sur demande" /></p>
						</li>
					</ul>
				</div>
				<ul><a target="_blank" href="assets/documents/yannis-burkhalter-cv.pdf">Télécharger la version papier de mon CV.</a></ul>
			</div>
		</div>
	</div>
</section>